$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    
    // "position":
    //   map-merge(
    //     map-get($utilities, "position"),
    //     (
    //       responsive: true,
    //     )
    //   ),
    
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          responsive: true,
        )
      ),
      
    // 擴充範例
    // 背景色的透明度
    // "bg-opacity": map-merge(
    //   map-get($utilities, "bg-opacity"),
    //   (
    //     responsive: true,
    //     values: map-merge(
    //       map-get(map-get($utilities, "bg-opacity"), "values"),
    //       (
    //         8: 0.08,
    //         12: 0.12,
    //       )
    //     ),
    //   )
    // ),
    // 邊線的透明度
    // "border-opacity": map-merge(
    //   map-get($utilities, "border-opacity"),
    //   (
    //     responsive: true,
    //     values: map-merge(
    //       map-get(map-get($utilities, "border-opacity"), "values"),
    //       (
    //         8: 0.08,
    //         12: 0.12,
    //       )
    //     ),
    //   )
    // ),

     "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (
            6: 2.5rem,
          )
        ),
      )
    ),
  )
);