.banner {
  min-height: 100vh;
  background-image: url("/assets/images/m_Hero\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  // background-size: 100% auto;
  background-position: center;
}

.banner-text-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg_stone.png?raw=true");
  background-repeat: no-repeat;
  background-size: 820px 734px;
  background-position: -272px bottom;
  padding-top: 72px;
  padding-bottom: 45px;
}

.banner-text {
  max-width: 320px;
}

.glass-bg {
  background-color: $gray-100; 
  backdrop-filter: blur(20px);
  border-radius: 20px;
}
.option {
  width: 60px;
  margin-right: 8px;
}

/* 外層容器開啟相對定位 */
.input-icon-wrapper {
  position: relative;
}

/* 圖示定位在輸入框內部左側 */
.input-icon-wrapper .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* 讓點擊圖示時能順利壓穿並打開選單 */
  z-index: 2;
  font-size: 20px;
  color: $primary;
}

/* 下拉選單增加左側內邊距，避免文字疊在圖示上 */
.custom-select {
  padding-left: 40px !important;
}

.feature {
  .icon-bg {
    width: 64px;
    height: 64px;
  }

  .feature-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .col {
    &:nth-child(1) .feature-item::before {
      background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display2.png?raw=true");
      top: -51px;
      bottom: -51px;
    }
    &:nth-child(2) .feature-item::before {
      background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display3.png?raw=true");
      top: -48px;
      bottom: -49px;
    }
    &:nth-child(3) .feature-item::before {
      background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display4.png?raw=true");
      top: -32px;
      bottom: -27px;
    }
    &:nth-child(4) .feature-item::before {
      background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display5.png?raw=true");
      top: -24px;
      bottom: -25px;
    }
  }

  .feature-content {
    max-width: 279px;
  }
}

.search-item {
  max-width: 215px ;
}

@media (min-width:992px) {
  .banner {
    background-image: url("/assets/images/index-hero-Image.png");
  } 
  
  .banner-text-bg {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2026-week8/bg.png");
    background-size: 964px 766px;
    background-position: -104px bottom;
    padding-bottom: 168px;
  }

  .banner-text {
    max-width: 480px;
  }

  .feature .col {
    &:nth-child(1),
    &:nth-child(2) {
      .feature-item::before {
        top: -35px;
        bottom: -35px;
        left: -7px;
        right: -7px;
      }
    }
    &:nth-child(3) {
      .feature-item::before {
        top: -18px;
        bottom: -12px;
        left: -7px;
        right: -7px;
      }
    }
    &:nth-child(4) {
      .feature-item::before {
        top: -20px;
        bottom: -20px;
        left: -7px;
        right: -7px;
      }
    }
  }

  .tool-mask {
    aspect-ratio: 1; //寬高比 讓他維持正方形
    background-image: url("/assets/images/img_tool.png");
    background-attachment: fixed;
    background-size: auto 100%; //寬度依照比例  高度填滿視窗的高度
    background-position: calc(50% - 330px) center;
    background-repeat: no-repeat;

    mask-image: url("/assets/images/mask.png");
    mask-size: contain;
    mask-position: center top;
    mask-repeat: no-repeat;
  }

  // .search-item {
  //   width: 215px;
  // }
}

.choose-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display1.png?raw=true");
  background-size: 176px 138px;
  background-position: -36px 20px;
  // padding-top: 28px;
  background-repeat: no-repeat;
}
.house-img-more {
  width: 100%;
  // height: auto;
  // min-width: 343px;
  height: 207px;
  border-radius: 24px;
}

.house-img {
  width: 100%;
  // height: auto;
  // min-width: 343px;
  height: 207px;
  border-radius: 24px;
}

.house-link {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}

.house-content {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
}

.house-btn {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 2;
}

.house-more {
  position: absolute;
  bottom: 48px;
  right: 60px;
  z-index: 2;
}
.house-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(#232E1A33,#232E1AB2) ;
  // width: 100%;
  max-height: 600px;
  border-radius: 24px;
}

.house-label {
  background-color: $white;
  color: $primary-dark;
  border-radius: 999px;
  right: 16px;
  bottom: 17px;
  line-height: 1.6;
  padding: 4px 20px;
}

.house-badge {
  background-color: $gray-100;
  border: 1px solid $primary-light;
  border-radius: 999px;
  padding: 9px 20px;
}

// 進度條樣式
.custom-progress {
  height: 4px;
  max-width: 916px;
  background-color: $gray-200;

  .custom-progress-bar {
    width: 30%; // 預設 30%，後續可透過 JS 動態控制
    background-color: $secondary;
    transition: width 0.2s ease;
  }
}

.tool-mask {
  mask-image: url("/assets/images/mask.png");
  mask-size: contain;
  mask-position: center top;
  mask-repeat: no-repeat;
}

.tool-icon {
  width: 60px;
  height: 60px;
  background-color: $secondary;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.tool-list {
  height: 88px;
}

.tool-btn {
  width: 100%;
}

.star-mask {
    width: 100%;
    mask-image: url("/assets/images/mask-last.png");
    mask-size: contain;
    mask-position: center top;
    mask-repeat: no-repeat;
  }


@media (min-width:992px) {
  .search-desktop {
    max-width: 1278px;
    margin-top: -162px;  /* 數值可依據設計稿調整（負值越大越往上） */
    position: relative;
    z-index: 10;        /* 確保浮在 Banner 上方不被遮住 */
  }
  
  .choose-bg {
    background-size: 280px 220px;
    background-position: 154px 70px;
    
  }

 .house-img-more {
  max-width: 688px;
  height: 600px;
  }

  .house-img {
  max-width: 100%;
  height: 267px;
  }

  .house-btn {
  top: 194px;
  left: 60px;
  z-index: 2;
  }

  .house-content {
  top: 48px;
  left: 60px;
  z-index: 2;
  }

  .tool-icon {
  width: 80px;
  height: 80px;
  }

  .tool-list {
  max-width: 185px;
  height: auto;
  }

  .btn-item {
    max-width: 200px;
  }

.star-lg-bg {
  position: absolute;
  width: 50%;
  // height: cover;
  aspect-ratio: 1023 / 790;
  top: 60px;
  right: 0px;
    // aspect-ratio: 1; //寬高比 讓他維持正方形
    background: url("/assets/images/img_tool-last.png");
    background-attachment: fixed;
    background-size: auto 100%; 
    // background-position: right center;
    background-position: calc(100% + 162px) center;
    background-repeat: no-repeat;

    mask : url("/assets/images/mask-last.png");
    mask-size: 100%;
    mask-position: calc(100% + 75px) center;
    mask-repeat: no-repeat;
    // mask-position: 60px -75px;
    z-index: 10;
  }

}


